.card {
	width: 100%;
}

.card:not(:first-of-type) {
	margin-top: 10px;
}

h6.title {
	margin-top: 0;
	font-weight: 500;

	display: flex;
	align-items: center;
}

.title svg {
	color: #575757;
	margin-right: 10px;
	margin-top: -2px;
}

.inner ul {
	padding: 0;
	margin: 15px 0 0 0;
}

.inner li {
	list-style-type: none;
	line-height: 22px;
	font-size: 14px;
}

.inner li a {
	white-space: nowrap;
}

.actions {
	border-top: 1px solid #d9d9d9;
	justify-content: flex-end;
}
