.wrapper {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	width: 350px;
}

.card ul {
	margin: 0;
}

div.field {
	display: flex;
}

.card li:not(:first-of-type) {
	margin-top: 12px;
}

button.button {
	width: 100%;
	height: 50px;
	margin-top: 10px;
}

h1.title {
	margin-top: 0;
}
